html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover,
a:focus,
a.active {
  color: #252525;
}

::-webkit-input-placeholder {
  color: #666;
}

:-moz-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  color: #fff;
  background-color: #FFA630;
}

::selection {
  color: #fff;
  background-color: #FFA630;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  color: #252525;
  font-size: 16px;
  font-family: Roboto, "Roboto", "PT Sans", "Helvetica", sans-serif;
  line-height: 1.65;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #fff;
  background: #ef3527;
}

.logo img {
  min-width: 257px;
  height: 62px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: invert(1) brightness(130%);
          filter: invert(1) brightness(130%);
}

nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

nav a {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav ul li a {
  padding: 20px;
}

nav ul li:first-child a {
  padding-left: 0;
}

nav ul li:last-child a {
  padding-right: 0;
}

.skills-prices table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.skills-prices table th:first-child,
.skills-prices table td:first-child {
  width: 170px;
}

.skills-prices table th:nth-child(2),
.skills-prices table td:nth-child(2) {
  width: 90px;
}

.skills-prices table th:nth-child(3),
.skills-prices table td:nth-child(3) {
  width: 60px;
}

.contacts a {
  position: relative;
}

.contacts a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
}

.contacts a:hover::after {
  left: 0;
  width: 100%;
}

.header2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.circle-img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
}

.contacts {
  line-height: 20px;
  text-align: right;
}

.name {
  margin-top: 5px;
  margin-left: 10px;
  line-height: 30px;
}

.portfolio__item {
  position: relative;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 1px 5px 0px #ef3527;
     -moz-box-shadow: 0 1px 5px 0px #ef3527;
          box-shadow: 0 1px 5px 0px #ef3527;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.35s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.35s;
  -o-transition: box-shadow 0.3s, -o-transform 0.35s;
  -moz-transition: box-shadow 0.3s, transform 0.35s, -moz-box-shadow 0.3s, -moz-transform 0.35s;
  transition: box-shadow 0.3s, transform 0.35s;
  transition: box-shadow 0.3s, transform 0.35s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s;
}

.portfolio__item:hover {
  -webkit-box-shadow: 0 1px 7px 1px #ef3527;
     -moz-box-shadow: 0 1px 7px 1px #ef3527;
          box-shadow: 0 1px 7px 1px #ef3527;
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

.portfolio__item-href {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__item-href > * {
  width: 50%;
}

.portfolio__item-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__item-content {
  padding: 16px;
  border-left: 1px dashed #ef3527;
}

.portfolio__item-detailed {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 2px 4px;
  color: #fff;
  background-color: #ef3527;
}

.site__name {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
}

.skills {
  position: relative;
  height: 210px;
  margin: 20px auto;
  -webkit-animation: circle 42s infinite linear;
     -moz-animation: circle 42s infinite linear;
       -o-animation: circle 42s infinite linear;
          animation: circle 42s infinite linear;
  pointer-events: none;
}

.skills a {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  color: #252525;
  font-size: 13px;
  text-align: center;
  word-break: break-all;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease, -moz-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease, -moz-box-shadow 0.3s ease;
  animation: circle 42s infinite linear reverse;
  pointer-events: all;
}

.skills a:hover {
  -webkit-box-shadow: 0 1px 35px 50px #fff;
     -moz-box-shadow: 0 1px 35px 50px #fff;
          box-shadow: 0 1px 35px 50px #fff;
}

.skills a.active {
  -webkit-animation: tocentercircle 0.8s linear;
     -moz-animation: tocentercircle 0.8s linear;
       -o-animation: tocentercircle 0.8s linear;
          animation: tocentercircle 0.8s linear;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-moz-keyframes circle {
  from {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
         transform: rotateZ(360deg);
  }
}

@-o-keyframes circle {
  from {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
  }
  to {
    -o-transform: rotateZ(360deg);
       transform: rotateZ(360deg);
  }
}

@keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes tocentercircle {
  0% {
    -webkit-box-shadow: 0 1px 35px 50px #fff;
            box-shadow: 0 1px 35px 50px #fff;
  }
  60% {
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0 1px 35px 50px #fff;
            box-shadow: 0 1px 35px 50px #fff;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0 1px 350px 500px #fff;
            box-shadow: 0 1px 350px 500px #fff;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@-moz-keyframes tocentercircle {
  0% {
    -moz-box-shadow: 0 1px 35px 50px #fff;
         box-shadow: 0 1px 35px 50px #fff;
  }
  60% {
    top: 50%;
    left: 50%;
    -moz-box-shadow: 0 1px 35px 50px #fff;
         box-shadow: 0 1px 35px 50px #fff;
    -moz-transform: translate(-50%);
         transform: translate(-50%);
  }
  100% {
    top: 50%;
    left: 50%;
    -moz-box-shadow: 0 1px 350px 500px #fff;
         box-shadow: 0 1px 350px 500px #fff;
    -moz-transform: translate(-50%);
         transform: translate(-50%);
  }
}

@-o-keyframes tocentercircle {
  0% {
    box-shadow: 0 1px 35px 50px #fff;
  }
  60% {
    top: 50%;
    left: 50%;
    box-shadow: 0 1px 35px 50px #fff;
    -o-transform: translate(-50%);
       transform: translate(-50%);
  }
  100% {
    top: 50%;
    left: 50%;
    box-shadow: 0 1px 350px 500px #fff;
    -o-transform: translate(-50%);
       transform: translate(-50%);
  }
}

@keyframes tocentercircle {
  0% {
    -webkit-box-shadow: 0 1px 35px 50px #fff;
       -moz-box-shadow: 0 1px 35px 50px #fff;
            box-shadow: 0 1px 35px 50px #fff;
  }
  60% {
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0 1px 35px 50px #fff;
       -moz-box-shadow: 0 1px 35px 50px #fff;
            box-shadow: 0 1px 35px 50px #fff;
    -webkit-transform: translate(-50%);
       -moz-transform: translate(-50%);
         -o-transform: translate(-50%);
            transform: translate(-50%);
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0 1px 350px 500px #fff;
       -moz-box-shadow: 0 1px 350px 500px #fff;
            box-shadow: 0 1px 350px 500px #fff;
    -webkit-transform: translate(-50%);
       -moz-transform: translate(-50%);
         -o-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  nav ul li:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .logo img {
    min-width: 128px;
    height: 31px;
  }
  nav ul li a {
    padding: 8px;
  }
}

@media (max-width: 769px) {
  .portfolio__item-href {
    display: block;
  }
  .portfolio__item-href > * {
    width: 100%;
  }
  nav ul li:first-child a {
    padding-left: 8px;
  }
  nav ul li:last-child a {
    padding-right: 8px;
  }
  .logo {
    margin-right: 16px;
  }
  nav ul.d-flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .skills-prices table th:first-child,
  .skills-prices table td:first-child {
    width: 100px;
  }
  .skills-prices table th:nth-child(2),
  .skills-prices table td:nth-child(2) {
    width: 60px;
  }
}

@media (max-width: 575px) {
  .header2 {
    display: block;
  }
  .header__left,
  .header__right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts {
    margin-top: 1rem;
  }
  .logo {
    display: none;
  }
  nav {
    font-size: 14px;
  }
  .skills-prices table {
    font-size: 14px;
  }
  .skills-prices table th:first-child,
  .skills-prices table td:first-child {
    width: 90px;
  }
  .skills-prices table th:nth-child(2),
  .skills-prices table td:nth-child(2) {
    width: 50px;
  }
  .skills-prices table th:nth-child(3),
  .skills-prices table td:nth-child(3) {
    width: 50px;
  }
}

@media (min-width: 0px) {
  .webp footer {
    background-image: url("../images/dest/brusnik-ru-414px.webp");
  }
  .no-webp footer {
    background-image: url("../images/dest/brusnik-ru-414px.jpg");
  }
}

@media (min-width: 414px) {
  .webp footer {
    background-image: url("../images/dest/brusnik-ru-576px.webp");
  }
  .no-webp footer {
    background-image: url("../images/dest/brusnik-ru-576px.jpg");
  }
}

@media (min-width: 576px) {
  .webp footer {
    background-image: url("../images/dest/brusnik-ru-768px.webp");
  }
  .no-webp footer {
    background-image: url("../images/dest/brusnik-ru-768px.jpg");
  }
}

@media (min-width: 768px) {
  .webp footer {
    background-image: url("../images/dest/brusnik-ru-992px.webp");
  }
  .no-webp footer {
    background-image: url("../images/dest/brusnik-ru-992px.jpg");
  }
}

@media (min-width: 992px) {
  .webp footer {
    background-image: url("../images/dest/brusnik-ru-1200px.webp");
  }
  .no-webp footer {
    background-image: url("../images/dest/brusnik-ru-1200px.jpg");
  }
}

@media (min-width: 1200px) {
  .webp footer {
    background-image: url("../images/dest/brusnik-ru.webp");
  }
  .no-webp footer {
    background-image: url("../images/dest/brusnik-ru.jpg");
  }
}
